<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserrat">
</head>
<body>

<div>

  <div>
    <h1>Welcome To The Booking Page, <%= @user %> </h1>
  </div>
    <form action='/send_request' method='post'>
        <% @spaces.each do |space| %>

        <label for="<%= space.id %>">
          <div class='listings'>
            <div class='listing_name' style='float:left'>
              <h2><%= space.name %></h2>
            </div>
            <div class='radio-button' style='float:right'>
            <input type="radio" id="<%= space.id %>" name="space_id" value="<%= space.id %>">
            </div>

            <div class='description_and_price' style='float:center'>
              <h5>Description: <%= space.description %></h5>
              <h5>Price per night: <%= space.price %></h5>
            </div>
          </div>
        </label>
        <br>

        <% end %>
      <h5>Check In:
      <input type='date' name='check_in'>
      Check Out:
      <input type='date' name='check_out'>
      <input type='submit' value='Request Listing'></h5>
    </form>

  <form action='/add-listing'>
    <input type='submit' value='Add New Listing'>
  </form>

  <form action='/log-out' method="post">
    <input type='submit' value='Log Out'>
  </form>

  <form action='/'>
  <input type='submit' value='Take me home, country roads!'>
  </form>

  <form action='/manage_bookings'>
  <input type='submit' value='Manage Bookings'>
  </form>
</div>

</body>
</html>
