<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
</head>
<div class='manage-bookings'>
<div class='manage'>
  <h1>Hi <%=@user.username%>, manage your bookings</h1>
</div>
<div class='requests'>
  <div class='recieved-bookings' style='float:left'>
    <h3>Here are your recieved bookings:</h3>

      <ul>
        <% @recieved_requests.each do |request| %>
          <%request.each do |result|%>
          <div class='rb'>
            <h5>Space Name:</b> <%= result.space_name%></h5>
            <p>Guest Name:</b> <%= result.guest_name%>
            <p>Check-in Date:</b> <%= result.check_in%>
            <p>Check-out Date:</b> <%= result.check_out%>
            
              <% if result.confirmed == 't'%>
                <p style='color: green'>This booking has been confirmed</p>
              <% elsif result.confirmed == 'f' %>
                <p style='color: red'>This booking has been rejected</p>
              <% else %>
                <p>Confirmation pending</p>
                <form action='/confirm_booking' method='post'>
                  <input type='hidden' name='request_id' value="<%= result.request_id %>">
                  <input type='submit' value='Confirm booking'>
                </form>

                <form action='/reject_booking' method='post'>
                  <input type='hidden' name='request_id' value="<%= result.request_id %>">
                  <input type='submit' value='Reject booking'>
                </form>
              <% end %>
            </li>
          </div>
          <br>
          <%end%>
        <% end %>
      </ul>
  </div>
  <div class='sent-bookings' style='float:right'>
    <h3>Here are your sent bookings:</h3>

    <ul>
      <% @sent_requests.each do |request| %>
        <div class='sb'>
          <h5>Space Name:</b> <%= request.space_name%></p></h5>
          <p>Check-in Date:</b> <%= request.check_in%></p>
          <p>Check-out Date:</b> <%= request.check_out%></p>
            <% if request.confirmed == 't'%>
              <p style='color: green'>This booking has been confirmed</p>
            <% elsif request.confirmed == 'f' %>
              <p style='color: red'>This booking has been rejected</p>
            <% else %>
              <p>Confirmation pending</p>
            <% end %>
          </p>
          <form action='/cancel_booking' method='post'>
            <input type='hidden' name='request_id' value="<%= request.request_id %>">
            <input type='submit' value='Cancel booking'>
          </form>
          </div>
          <br>
      <% end %>
    </ul>
  </div>
</div>
<br>
<br>
<br>
<div>
    <form action='/listings'>
      <input type='submit' value='Book More Spaces'>
    </form>
</div>
</div>
</html>
